<ng-container *ngIf="this.router.url === '/logout'">Loging out</ng-container>
<ng-container *ngIf="this.router.url === '/register' || this.router.url === '/login'">
    <div class="mx-auto mt-4 p-2 border rounded" style="width: 350px;">
        <form [formGroup]="this.router.url === '/register' ? registerForm:loginForm"
            (ngSubmit)="this.router.url === '/register' ? register():login()">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="this.router.url === '/register'">Create your account</h4>
                <h4 class="modal-title" *ngIf="this.router.url === '/login'">Login your account</h4>
            </div>
            <div class="modal-body form-group">
                <div>
                    <label>*Username</label>
                    <input type="text" placeholder="Username" formControlName="username" class="form-control">
                </div>
                <div *ngIf="this.router.url === '/register'">
                    <label>*Email</label>
                    <input type="email" placeholder="email@email.com" formControlName="email" class="form-control">
                </div>
                <div>
                    <label>*Password</label>
                    <!-- <span *ngIf="form.password.invalid && (form.password.touched || form.password.dirty)">password</span> -->
                    <input type="password" placeholder="password" formControlName="password" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="this.router.url === '/register'" type="submit"
                    [disabled]="!registerForm.valid || isSubmitting">Register</button>
                <button *ngIf="this.router.url === '/login'" type="submit"
                    [disabled]="!loginForm.valid || isSubmitting">Login</button>
            </div>
        </form>
    </div>
</ng-container>